<h2 class = "center-align "> <%= @team.name %>  </h1> 

<h3 class = "center-align " > List of All Players </h3> 
<ul class = "center-align">

<% @team.players.each do |player| %> 
 <li> Player: <%= link_to  player.name  ,  player_path(player.id) %> </li>
 <li> Goals: <%= player.goals %> </li> 
 <li> Assists: <%= player.assists %> </li>
 
 
<% end %>
</ul>
 