<h1> <%= @team.name %>  </h1> 


<% @team.players.each do |player| %> 
 Player: <%= link_to  player.name  ,  player_path(player.id) %> <br>
 Goals: <%= player.goals %> <br> 
 Assists: <%= player.assists %> <br>
 
<% end %>
 