<div class = "league-container" > 

<h1 class = "leagues"> League </h1>
<ul>

<% @leagues.each do |league_name| %> 
 <li class = "leagues"> <%= link_to league_name.name , league_path(league_name.id) %> | <%= league_name.location %> </li>
<%end %> 

</ul>

</div>