

<h1 class = "center-align changed"> League </h1>
<ul class = "center-align">

<% @leagues.each do |league_name| %> 
 <li class = "leagues"> <%= link_to league_name.name , league_path(league_name.id) %> | <%= league_name.location %> </li>
<%end %> 

</ul>

