 <div class="player-container">

<h1 class = "players"> Players</h1>


<% @players.each do |player| %> 

    <h4><b><%= link_to player.name , player_path(player.id) %></b></h4>
    <span> <%= player.goals  %></p>
    <span> <%= player.assists %></p>
  </div>
</div>

<%end %> 

 </div>
